<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name ="Scenario_Test" parallel="false">
    <test name="Tests">
        <classes>
            <class name ="HomePage.LoadPageTest"/>
            <class name ="Login.LoginTest"/>
            <class name="Contact.ContactTest"></class>
            <class name="Categories.LaptopCategoryTest"></class>
            <class name="ProductPage.MacBookAirProductPageTest"></class>
            <class name="Categories.MonitorCategoryTest"></class>
            <class name="ProductPage.AppleMonitor24ProductPageTest"></class>
            <class name="Cart.CartPageTest"></class>
            <class name="HomePage.LogoutTest"></class>
        </classes>
    </test>
</suite>